<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'funny_or_not/style.css' %}" />


<html lang="en">
<h1>FUNNY OR NOT</h1>
<div>
    <ul style="list-style-type:none">

    {% for video in latest_video_list %}
        <div>
        <li>
            <b>{{video.title}}</b>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe
                src="{{video.link}}"
                frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <p>{{video.desc}}</p>
        </li>
        </div>

    {% endfor %}
        

    </ul>
</div>

</html>
