{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'funny_or_not/style.css' %}" />

<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">




<html lang="en">

<div class="outer-title-name"><div class="title-name">
    <h1>
        <img class="ban-lft" src="../static/funny_or_not/dance-banana.gif">
        FUNNY OR NOT
        <img class="ban-rt" src="../static/funny_or_not/dance-banana.gif">
    </h1>
</div></div>

<div class="video-list">
    <ul style="list-style-type:none">

    {% for video in latest_video_list %}
        <div class='single-vid'>
        <li>
            <b class="vid-title">
                <a href="/funny_or_not/{{video.id}}/">
                {{video.title}}</a>
            </b>
            <br>
            <div class="vid-title">
                <button type="button" class="btn btn-success" value"Toggle" id="toggle">
                    <i class="fa fa-thumbs-up"></i>
                </button>
                <button type="button" class="btn btn-danger" value"Toggle" id="toggle">
                    <i class="fa fa-thumbs-down"></i>
                </button>
            
                <br>
                {{video.get_funny_percent}}% Funny - <span style="color:green">{{video.get_funny}}</span>
                vs. <span style="color:red">{{video.get_not_funny}}</span>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe
                src="{{video.link}}"
                frameborder="0" allowfullscreen
                align="center">
                </iframe>
            </div>

            <p class="vid-desc">{{video.desc}}</p>

            {% comment %}
            <div class="dropdown">
                <button type="button" class="btn btn-primary" value"Toggle" id="toggle">V</button>
                <div class="dropdown-content">
                    <p>{{video.comment}}</p>
                </div>
            </div>
            {% endcomment %}
        </li>

        </div>

    {% endfor %}
        

    </ul>
</div>

</html>



