h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ban-lft {
    width:7%;
}

.ban-rt {
    width:7%;
}


.vid-title {
    padding-left: 10px;
    padding-right: 10px;
}

.vid-desc {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

iframe {
    padding: 10px;
}

.single-vid{
    background-color: #d3d3d3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: outset;
    border-color: grey;
    margin-bottom: 20px;
    /*padding-bottom: 10px;*/
}

b {
    color: black;
}

.outer-title-name {
    width: 100%;
}

.title-name {
    background-color: red;
    width: 100%;
    postion: center;

    animation-name: back-forth;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes back-forth {

    0% { background-color:red; left:0px;}
    25% { background-color:yellow; left:100px;}
    50% { background-color:blue; left:200px;}
    75% { background-color:green; left: 100px;}
    100% { background-color:red; left: 0px;}

}

ul {
    padding: 0;
    list-style-type: none;
    margin: 20px;
}



